<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">

<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="stylesheet.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
            background-color: White;
        }

        @page {
            margin-bottom: 5pt;
            margin-top: 5pt;
        }
    </style>
</head>

<body>
    <h1>目录</h1>
    <section class="base" id="toc">
        <nav epub:type="toc" class="catalog">
            <ol>
                <li class="chapter"><a href="cover.xhtml">封面</a></li>
                <li class="chapter"><a href="title.xhtml">书籍信息</a></li>
                <li class="chapter"><a href="catalog.html">目录</a></li>
                {{#each chapter as |c| }}
                <li class="{{#if c.chapter.has_sub_chap }}chapter{{else}}subchapter{{/if}}"><a
                        href="chap_{{c.chapter.id}}.html#chap_{{c.chapter.id}}">{{c.chapter.title}}</a></li>
                {{# if c.subchapter}}<ol>
                    {{#each c.subchapter as |subchap|}}<li class="subchapter"><a href="chap_{{c.chapter.id}}.html#subchap_{{subchap.id}}">{{subchap.title}}</a></li>
                    {{/each}}
                </ol>{{/if}}
                {{/each}}
            </ol>
        </nav>
    </section>
</body>
</html>