author = "<author name>"
# chapter = '^第[零一二三四五六七八九十百千两\d]+章.*$'
cover = "/path/cover.jpg"
file = "/path/book.txt"
title = "book name"
chapter='^第[零一二三四五六七八九十百千两\d]+卷.*$'
subchapter='^第[零一二三四五六七八九十百千两\d]+章.*$'
encoding = 'GB18030'
# is paragraph wrapped with html <p></p>.
is_html_p=true